* {
    margin: 0;
    box-sizing: border-box;
}

html {
    /* border: .6rem solid;
    border-image-source: linear-gradient(90deg,#f7c9c9,#fa709a 70%);
    border-image-slice: 1; */
    font-size: 62.5%;
}

body {
    background-color: #faeee7;
    font-family: 'Merriweather', serif;
    color: #33272A;
}

ul {
    padding: 0
}



#content {
    display: grid;
    grid-template-columns: [full-start] minmax(3rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(3rem, 1fr) [full-end];
}

/* HOME */

.content-wrapper {
    grid-column: center-start / center-end;
    margin-top: 6rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
}


.block-wrapper h2 {
  
    text-align: center;
    margin-bottom: 3rem;
    
}

.item-wrapper a::first-letter{
    text-transform: capitalize;
}

.item-wrapper a {
    text-decoration: none;
    color: #193b72;
}

.item-wrapper a:hover {
    text-decoration: underline;
}

.item-wrapper {
    display: grid;
    grid-template-rows: repeat(4, min-content);
    row-gap: 2rem;
    margin-bottom: 2rem;
    background: hsla(0, 14%, 100%, .8);
    padding: 2rem;
    font-size: 1rem;
}


/* HEADER */

.header {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem;
    font-size: 1.4rem;
}

/* NAVIGATION */

.navigation {
    display: flex;
    align-items: center;
}

.primary-navigation {
    list-style: none;
    padding: 0;
    margin: 0;
    
}

.menu-item {
    display: inline-block;
}

.menu-item:not(:last-child) {
    margin-right: 1rem;
}

.menu-link {
    text-decoration: none;
    color: #28282D;
    border: 1px solid #28282D;
    padding: 1rem 3rem;
    transition: all .3s ease-in-out;
}

.menu-link:hover,
.menu-link.active {
    background-color: #28282D;
    color: #fff;
}

.mobile-nav-toggle {
    display: none;
}

/* SEARCH NAVIGATION */

.search-form {
    position: relative;
    margin-left: auto;
    margin-right: 1rem;
    display: flex;
    align-items: center;
}

.search-form input {
    padding: 1rem 0;
    padding-left: 3rem;
}

.search-icon {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.search-icon i {
    margin: 0 10px;
    font-size: 1.5rem;
}

/* SINGLE PHOTO */

.photo-wrapper {
    grid-column: center-start / center-end;
}

/* POSTS */

.posts-wrapper {
    grid-column: center-start / center-end;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.post-card {
    text-align: left;
    background-color: #fffffe;
    box-shadow: 1px 10px 10px 0 rgba(0,0,0,.1);
    margin: 2rem;
    min-height: 15rem;
    padding: 3rem;
    display: grid;
    grid-template-rows: min-content 1fr 1fr;
    align-items: middle;
    row-gap: 2rem;
}

.post-card a {
    text-decoration: none;
    color: #28282D;
}

.post-card a:hover {
    text-decoration: underline;
}

.post-card h4::first-letter {
    text-transform: capitalize;
    
}

.post-card h6 {
    font-size: 1.2rem;
    /* padding: 2rem 0; */
    align-self: middle;
    
}

.post-card h4 {
    font-size: 1.8rem;
    line-height: 3rem;
}

.post-card small {
    font-size: 1rem;
}

article {
    grid-column: center-start / center-end;
}

.inner-post-wrapper {
    background-color: #fff;
    padding: 2rem 10rem;
    display: grid;
    grid-template-rows: 1fr min-content 1fr 1fr;
}

.inner-post-wrapper div {
    font-size: 1.2rem;
    text-align: center;
}

.inner-post-wrapper h3 {
    margin-bottom: 1rem;
    margin-top: 5rem;
    text-align: center;
    font-size: 1.9rem;
}

.inner-post-wrapper p {
    align-self: center;
    font-size: 1.4rem;
}

.inner-post-wrapper > a {
    text-decoration: none;
    color: #28282D;
    display: block;
    width: fit-content;
    font-size: 1.4rem;
}

.inner-post-wrapper a:hover {
    text-decoration: underline;
    
}

/* USERS */

#content table {
    grid-column: center-start / center-end;
    box-shadow: 1px 10px 10px 0 rgba(0,0,0,.1);
}



td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 1rem;
    word-wrap: break-word;
    background-color: white;
    font-size: 1.2rem;
}

th {
    font-size: 1.6rem;
    text-align: center;
}
td a {
    text-decoration: none;
    color: #28282D;
}

td a:hover {
    text-decoration: underline;
}

th:last-child,
td:last-child {
    text-align: center;
    
}

table {
    width: 100%;
    border-spacing: 0;
}

.album-image {
    width: 50%;
    height: auto;
}

.image-cell {
    width: 30%;
    text-align: center;
    white-space: nowrap;
}

.user-posts li a,
.user-albums li a {
    text-decoration: none;
    color: #28282D;
}

.user-posts,
.user-albums {
    list-style: none;
    background-color: #fff;
    box-shadow: 1px 10px 10px 0 rgba(0,0,0,.1);
    font-size: 1.5em;
}

.user-posts li, 
.user-albums li{
    border: 1px solid rgba(221,221,221, .4);
    padding: 1rem;
    transition: all .3s;
    padding-left: 2rem;
}

.user-albums {
    margin-bottom: 6rem;
}

.user-posts li:not(:last-child),
.user-albums li:not(:last-child) {
    border-bottom: none;
}

.user-posts li:hover, 
.user-albums li:hover {
    background-color: #28282D;
}

.user-posts li:hover a,
.user-albums li:hover a  {
    color: #fff;
}

/* COMMENTS */

.comment-wrapper {
    background-color: aliceblue;
    margin: 1.5rem auto;
    padding-bottom: 1.5rem;
    width: 50%;
}

.comment-wrapper p {
    padding-top: 1.5rem;
    padding-bottom: 1.2rem;
}

.comment-wrapper p::first-letter,
.post h3::first-letter,
.post h4::first-letter {
    text-transform: capitalize;
}
.comments-container h4 {
    margin: 5rem 0;
    text-align: center;
}
.comment-wrapper p,
.comment-wrapper small {
    padding-left: 1.5rem;
    font-size: 1.2rem;
}


.post h4 {
    font-size: 1.4rem;
}

.comment-wrapper small {
    font-style: italic;
}

.title-wrapper {
    background-color: #28282D;
    padding-left: 1.5rem;
    color: #fff;
    height: 4rem;
    display: flex;
    align-items: center;
}

/* ALBUMS */

.album-wrapper {
    grid-column: center-start / center-end;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
 
}

.album {
    grid-column: center-start / center-end;
}

.inner-album-container {
    background-color: #fff;
    padding: 4rem;
    text-align: center;
}

.inner-album-container h3::first-letter {
    text-transform: capitalize;
}

.inner-album-container h3 {
    font-size: 2rem;
}

.inner-album-container > div {
    padding: 1rem 0;
}

.album-card {
    max-height: 40rem;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    background-color: #fff;
}

.album-card-header {
    position: relative;
    max-height: 30rem;
}

.album-card-body {
    position: relative;
    align-self: center;
    padding: 0 1.5rem;
}

.album-card-body h4::first-letter {
    text-transform: capitalize;
}

.album-card-body h4 {
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
    transition: all .3s ease-in-out;
}

.album-card-body a {
    text-decoration: none;
    font-size: 1.2rem;
    color: hsl(240, 6%, 17%);
    transition: all .3s ease-in-out;
}

.album-card-body a:hover {
    text-decoration: underline;
}

.album-card-header img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}

.album-image-count {
    position: absolute;
    right: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5rem;
    transition: all .3s ease-in-out;
}

#light-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 4rem;
}

/* USER */
.user-wrapper {
    grid-column: center-start / center-end;
}

.user-table {
    margin-bottom: 6rem;
}

.user-table th {
    text-align: left;
    padding-left: 3rem;
}

.user-wrapper h3 {
    padding: 2rem 0;
}



/* PAGES */

.home-page {
    grid-column: center-start / center-end;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.home-title {
    text-align: center;
}

lottie-player {
    margin: 0 auto;
    height: 100%;
    width: 100%;
}


.home-intro-text {
    font-family: 'Source Code Pro', monospace;
    font-size: 1.6rem;
    text-align: center;
}

.banner {
    grid-column: center-start / center-end;
    text-align: center;
    font-size: 1.6rem;
    padding-bottom: 6rem;
}

/* SEARCH */

.search-form-wrapper {
    position: relative;
    grid-column: center-start / center-end;
    width: fit-content;
    margin: 0 auto;
}

.submit-button {
    padding: 12px 15px;
    background-color: #70A597;
    border: none;
    outline: none;
    color: #fff;
    margin-left: 1rem;
    cursor: pointer;
}

.search-result-container {
    grid-column: center-start / center-end;
}

.no-results-message {
    text-align: center;
    margin-top: 3rem;
    font-size: 1.6rem;
}

.text-field{
    padding: 10px 30px;
}

.select-field {
    padding: 10px 5px;
    margin-left: 1rem;
}
.result-item {
    background: #fff;
    padding: 2rem 2rem;
    border-bottom: 1px solid hsl(240 6% 17% /.2);
}

.search-result-container {
    margin-bottom: 6rem;
}

.search-result-container a {
    text-decoration: none;
    color: #28282D;
}

.search-result-container a:hover {
    text-decoration: underline;
}

.result-title {
    margin: 2rem 0;
    text-align: center;
}

.result-title {
    margin: 2rem 0;
    font-size: 1.2rem;
}

@media only screen and (max-width: 1000px) {
    .album-card-body h4 {
        font-size: 1.2rem;
    }
    
    .album-card-body a {
        font-size: 1rem;
    }

    .album-image-count {
        font-size: 1.2rem;
    }
  }

  /* RESPONSIVE */


@media only screen and (max-width: 784px) {

    #search-input,
    .search-icon {
        display: none;
    }
    
    .primary-navigation {
        width: 100%;
        position: fixed;
        inset: 0 0 0 30%;
        background: hsl(0 0% 100% / .8);
        backdrop-filter: blur(1rem);
        flex-direction: column;
        z-index: 1000;
        display: flex;
        padding: min(30vh, 10rem) 2em;
        transition: transform .3s ease-out;
        transform: translateX(100%);
    }

    .primary-navigation[data-visable="true"] {
        transform: translateX(0);
    }

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        background: url('../images/icon-hamburger.png');
        background-repeat: no-repeat;
        background-size: contain;
        border: 0;
        width: 3rem;
        aspect-ratio: 1;
        top: 4.6rem;
        right: 2rem;
        z-index: 9999;
        transition: background .3s ease-in;
        cursor: pointer;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background: url('../images/close.png');
        background-size: contain;
    }

    .menu-item {
        width: 68%;
        /* display: block; */
        position: relative;
        display: flex;
        
    }

    .menu-item:not(:first-child) {
        margin-left: 0;
    }

    .menu-link  {
        flex: 1;
        border: none;
        padding: 10px 0;
        padding-left: 2rem;
        box-sizing: border-box;
        
    }

    .menu-link::first-letter {
        text-transform: capitalize;
    }

    .posts-wrapper {
        grid-template-columns: 1fr;
    }

    .home-page {
        height: 70vh;
    }

    .album-wrapper {
        grid-template-columns: 1fr;
    }

    lottie-player {
        max-height: 25rem;
        max-width: 25rem;
    }

    #search-input {
        max-width: 15rem;
        margin-right: 2rem;
        margin-top: -.5rem;
    }

    .search-icon {
        top: 45%;
    }

    .inner-post-wrapper {
        padding: 1rem 2rem;
        grid-template-rows: 1fr min-content 1fr min-content;

    }

    .inner-post-wrapper h3 {
        font-size: 1.4rem;
    }

    .inner-post-wrapper p,
    .inner-post-wrapper a {
        font-size: 1.2rem;
    }

    .inner-post-wrapper a {
        padding-bottom: 4rem;
    }

    .comment-wrapper {
        width: 100%;
    }

    .post-card {
        margin: 2rem 0;
    }

    .post-card h4 {
        font-size: 1.4rem;
        line-height: 1.8rem;
    }

    .user-table th {
        font-size: 1.2rem;
    }

    .user-posts li,
    .user-albums li {
        font-size: 1.2rem;
    }


  }